.landing {
  text-align: center;
  color: white;
  padding-left: 50px;
  padding-right: 50px;

}

/* New styles for mobile and tablets */
@media screen and (max-width: 768px) {
  /* Adjust the styles as needed for mobile and tablets */
  .landing {
    font-size: 1.1rem !important;
  }
}
