.meal-name-container span {
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-size: 16px !important;
    font-weight: 600;
}

.button-text-container {
    text-transform: uppercase;
    letter-spacing: 1.5px !important;
    font-size: 18px !important;
}

.inspo-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
