.meal-name-container span {
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-size: 16px !important;
    font-weight: 600;
}

.button-text-container {
    text-transform: uppercase;
    letter-spacing: 1.5px !important;
    font-size: 18px !important;
}

.inspo-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}
