.recipe-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    letter-spacing: 1px;
}

.recipe-container h2, h4{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.recipe-box-shadow {
    box-shadow: rgba(255, 255, 255, 0.24) 0 1px 6px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#description-container {
    line-height: 1.4;
}

#title-header {
    margin-top: 20px;
    border-bottom: 1px solid white;
}


.font-formatting {
    font-size: 14px;
}

.ingredients-input {
    height: 35px;
    min-height: 35px;
    width: 100%;
    min-width: 50%;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    box-shadow: none;
    padding-left: 1rem;
    border-radius: 3px;
    border: none;
}

.ingredients-input::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
}

.ingredients-input:focus {
    outline: none;
}

.select-group {
    display: flex;
    flex-direction: row; /* Stack select elements horizontally */
    margin-bottom: 10px; /* Add space below the select group */
}

.select-input {
    flex: 1; /* Take up equal space in the container */
    margin-right: 10px; /* Add space between the select elements */
}

.select-input:last-child {
    margin-right: 0;
}

.recipe-grouping {
    border: 1px solid rgba(255, 255, 255, 0.57);
    padding: 10px 15px;
}

.format-recipe-screen {
    width: 95%;
    max-width: 650px;
}

.recipe-form-input-group {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-top: 40px;
    width: 100%; /* Set the width to fit the content area */
}

.recipe-form-input-group button {
    width: 100%; /* Make button take full width */
}

