.bg-img {
    /* The image used */
    background-image: url("../../img/recipe.jpg");

    min-height: 550px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: transparent;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* New styles for mobile and tablets */
@media screen and (max-width: 768px) {
    /* Adjust the styles as needed for mobile and tablets */
    .topnav {
        display: flex;
        align-content: center;
        justify-content: center;
    }

}
