.page-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.content-wrap {
    flex: 1;
}

/* New styles for mobile and tablets */
@media screen and (max-width: 768px) {
    /* Adjust the styles as needed for mobile and tablets */
    .dashboard {
        font-size: 1.0rem !important;
    }
}

/*Removes underline indicator*/
.MuiTabs-indicator {
    background-color: #2b3035 !important;
}

.box-shadow {
    box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
}

.recipe-link {
    color: rgb(255, 165, 0);
    text-underline-offset: 5px;
}

.recipe-cta {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}