.bg-img {
	/* The image used */
	background-image: url("../../../img/recipe.png");
	min-height: 700px;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* Needed to position the navbar */
	position: relative;
}

/* Position the navbar container inside the image */
.container {
	position: absolute;
	margin: 20px;
	width: auto;
}

/* The navbar */
.top-nav {
	overflow: hidden;
	background-color: transparent;
	display: flex;
	align-items: center;
}

/* LandingPageNavbar links */
.top-nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.top-nav a:hover {
	background-color: #ddd;
	border-radius: 15px;
	color: black;
}

/* New styles for mobile and tablets */
@media screen and (max-width: 768px) {
	/* Adjust the styles as needed for mobile and tablets */
	.top-nav {
		display: flex;
		align-content: center;
		justify-content: center;
	}

	.top-nav span {
		font-size: 1.2rem !important;
	}

	.top-nav img {
		display: none;
	}
}
